#ams-bulk-upload-modal .modal-dialog .modal-content .modal-footer .send-to-api {
    display: none;
}

.wide_model {
    width: 1200px !important;
    max-width: 100% !important;
}

.narrow_modal {
    width: 550px !important;
    max-width: inherit !important;
}

#ams-bulk-upload-modal .modal-dialog {
    margin-top: 50px !important;
}

#ams-bulk-upload-modal .tab-pane {
    max-height: 500px;
    overflow-y: auto;
}

#ams-bulk-upload-modal .dropzone {
    width: 550px;
    max-width: 75%;
    margin-top: 15px !important;
    min-height: inherit !important;
    position: relative !important;
}

#ams-bulk-upload-modal .dropzone .customHTML {
    text-align: center;
}

#ams-bulk-upload-modal .dropzone .customHTML span {
    line-height: 40px;
}

#ams-bulk-upload-modal .download-sample-file-btn {
    display: inline-block;
}

#ams-bulk-upload-modal .dropzone .dz-default.dz-message {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
}

#ams-bulk-upload-modal .dropzone .dz-preview,
#ams-bulk-upload-modal .dropzone-previews .dz-preview {
    margin: 0;
}

#ams-bulk-upload-modal .dropzone .dz-preview .dz-details .dz-filename,
#ams-bulk-upload-modal .dropzone-previews .dz-preview .dz-details .dz-filename {
    height: auto;
}

#ams-bulk-upload-modal .dropzone .dz-preview .dz-details, #ams-bulk-upload-modal .dropzone-previews .dz-preview .dz-details {
    height: auto;
    background: transparent;
    width: 100%;
    margin-bottom: 0;
}
