table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}

.table th.sorting, .table th.sorting_asc, .table th.sorting_desc {
    padding-left: 18px;
}

table th.sorting_asc,
table th.sorting_desc,
table th.sorting {
    cursor: pointer;
    position: relative;
}

table th.expanded,
table th.collapsed {
    cursor: pointer;
    position: relative;
    text-align: right;
}

table th.sorting_asc:before,
table th.sorting_desc:before,
table th.sorting:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #666;
    position: absolute;
    left: 5px;
    font-size: 10px;
}

table th.sorting_asc:before {
    content: "\f0de";
    top: calc(50% - 5px);
}

table th.sorting_desc:before {
    content: "\f0dd";
    top: calc(50% - 10px);
}

table th.sorting:before {
    content: "\f0dc";
    top: calc(50% - 6px);
}

table th.sorting.doing-sort:before,
table th.sorting_asc.doing-sort:before,
table th.sorting_desc.doing-sort:before {
    /*content: "\f110";*/
    content: '';
    background-image: url('../images/loaders/14.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    height: 11px;
    width: 11px;
    top: calc(50% - 6px);
    /*-webkit-animation: sorting_loader 1s infinite linear;*/
    /*animation: sorting_loader 1s infinite linear;*/
}

.te-pagination {
    margin-bottom: 10px;
    min-height: 115px;
}

.te-pagination .te-pagination-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    font-weight: 400 !important;
    color: #6F6F6F !important;
}

.te-pagination .te-pagination-ul > li {
    display: inline-block;

}

.te-pagination .te-pagination-ul > li > a,
.te-pagination .te-pagination-ul > li > span {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #6F6F6F;
}

.te-pagination .te-pagination-ul > li > a.te-current-page {
    cursor: default;
}

.te-pagination .te-pagination-ul > li > span {
    cursor: default;
}

.te-pagination .te-pagination-ul > li > a.next.te-current-page,
.te-pagination .te-pagination-ul > li > a.prev.te-current-page {
    color: rgba(111, 111, 111, 0.25) !important;
}

.te-pagination .te-pagination-ul > li > a.first > .first-page-disabled-img,
.te-pagination .te-pagination-ul > li > a.last > .last-page-disabled-img {
    display: none;
}

.te-pagination .te-pagination-ul > li > a.first.te-current-page > .first-page-disabled-img,
.te-pagination .te-pagination-ul > li > a.last.te-current-page > .last-page-disabled-img {
    display: inline-block;
}

.te-pagination .te-pagination-ul > li > a.first.te-current-page > .first-page-img,
.te-pagination .te-pagination-ul > li > a.last.te-current-page > .last-page-img {
    display: none;
}

.search-items-input-wrapper input.te-search-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9b9b9;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.te-item-form .recipient-info {
    border: 1px solid #aaa;
    margin-bottom: 10px;
    padding-top: 10px;
}

.te-item-form .recipient-info.recipient-info-default .delete_button {
    display: none;
}

.te-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: url(../images/loaders/fancy/2.gif) no-repeat center #FFF;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    background-size: 45px 45px;
}

.items-table-wrapper .panel-content {
    padding: 5px;
}

.te-item-form .form-group select.select-picker.form-control,
.te-item-form .form-group select.select-picker.form-controlL:hover {
    height: 35px;
    -webkit-appearance: menulist-button;
}

.invalid-feedback strong {
    color: #f58383;
    font-weight: normal;
}

/*
sweet alert button centered
 */
.sweet-alert .sa-button-container {
    text-align: center;
}

.inactive-recipient-warning{
    background-color: yellow !important;
}

.table-striped  .btn.btn-sm{
    padding: 5px 8px !important;
}
